.d1 {
    width:646px ;
    height:464px;
    background-color: #0019F9;
    position: relative;
    top: 9px;
    left: 9px;
}
.d2 {
    width: 253px;
    height: 190px;
    background-color: #F80303 ;
    position:absolute ;
    bottom: 0px;
    right: 0px;
}